<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-padding">Aprende con Fonemas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <ion-button color="secondary" expand="block" href="/home" >
    <ion-icon name="home-outline"></ion-icon>
  </ion-button>
  <ion-img src="https://us.123rf.com/450wm/illustratiostock/illustratiostock2008/illustratiostock200800142/153366647-aislado-lindo-kawaii-valentine-osito-de-peluche-colorido-vector.jpg?ver=6" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  <ion-item>
    <ion-label class="ion-text-center">
      <h1 class="colorText"> _ - _ _</h1>
    </ion-label>
  </ion-item>
  <ion-button  color="secondary" expand="block">
    <ion-icon name="megaphone-outline"></ion-icon>
  </ion-button>
  <ion-button shape="round" expand="block" >O</ion-button>
  <ion-button shape="round" expand="block">S</ion-button>
  
</ion-content>


<ion-footer>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>