<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-padding">Aprende con Fonemas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" >
  <ion-img src="https://us.123rf.com/450wm/illustratiostock/illustratiostock2008/illustratiostock200800142/153366647-aislado-lindo-kawaii-valentine-osito-de-peluche-colorido-vector.jpg?ver=6" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
</ion-content>

<ion-content>
  <ion-item>
    <ion-label class="ion-text-center">O - SO</ion-label>
  </ion-item>
  
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="2" offset="2">
        <ion-button >
          <ion-icon name="megaphone-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2" offset="2">
        <ion-button >
          <ion-icon name="caret-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



<ion-footer>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>